#board_img{
    position: relative;
    background-image: url(../img/ban.png);
    background-size: contain;
    margin-left: 14.5%;
    margin-right: 14.5%;
}
#board_img:before {
    content:"";
    display: block;
    padding-top: 108%; /* 高さを幅の108%に固定 */
}
#board_koma {
    position: absolute;
    top: 3%;
    left: 3%;
}
#board_koma tr{
    width: 100%;
    height: 9%;
}
#board_koma tr td{
    padding: 0 0;
}
#board_koma tr td img{
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width /***/:auto;
    vertical-align: bottom;
}

.horizontal-list {
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.item {
    /* 横スクロール用 */
    display: inline-block;
    width: 9%;

    /* 見た目調整 */
    margin: 16px;
    background: rgba(255, 0, 0, 0.4);
}

.item > div > img{
    width: 100%;
}