body{
    max-width: 800px;
    margin: auto;
}
span{
    cursor: pointer;
}
.contents{
    position: relative;
    text-align: center;
    width: 80%;
    margin: 5px auto;
    z-index: 1;
}
.contents #pic1{
    width: 100%;
    z-index: 1;
    image-orientation: from-image;
}
p {
    text-align: center;
}
div#back {
    text-align: center;
}
#tmpfoot{
    text-align: center;
}
#board{
    width:260px;
    height:230px;
    margin-left: auto;
    margin-right: auto;
    font-family:'ＭＳ ゴシック', 'MS Gothic', 'Osaka－等幅', Osaka-mono, monospace;
    font-size:14px;
    color:#999;
}
.faq{
    margin: 2vw;
}
div#pic1_parent img{
    width: 100%;
    height: auto;
}